:root {
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --backround-color: #E5E5E5;
}
body {
background-color: #FFFFFF;
}
.navigation>.link {
    color: #212121;
    text-decoration: none;
}
.logo {
    color: var(--accent-color);
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--accent-color);
}
.link.current:active {
    color: var(--accent-color);
}
